@import "public/components/session-grid";
@import "public/components/session-list";
@import "public/components/speaker-list";

.track-timetable-timezone-selector {
	margin: 1.5rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-align: center;
	flex: 0 1 100%;

	&:first-child {
		margin-top: 1.5rem;
	}

	.select2 {
		text-align: left;
	}
}
