@import "public/components/session-grid";
@import "public/components/session-list";
@import "public/components/speaker-list";

.track-timetable-timezone-selector {
	margin: 1rem auto;
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-align: center;

	.select2 {
		text-align: left;
	}
}
